.navbar{
  display: flex;
}
.a1{
  margin-right: 50px;
}
.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}
.all{
  background-color: black;
}
